{% extends "base.html" %}
{% block content %}
<h3 class="light-blue-text text-darken-4 center-align">my tasks</h3>
<div class="row card-panel lime darken-4">
	<form class="col s12" method="POST" action="{{ url_for('search') }}">
		<div class="row valign-wrapper center-align">
			<div class="col input-field s12 m8">
				<i class="fas fa-search prefix light-blue-text text-darken-4"></i>
				<input type="text" name="query" id="query" class="validate" min="3" required>
				<label for="query">Search tasks</label>
		   </div>
				<div class="col s12 m4">
					<a href="{{ url_for('get_tasks') }}"
						class="lime accent-3 btn-small purple-text text-shadow">Reset</a>
					<button type="submit" class="btn-large light-blue darken-1 text-shadow"><i class="fas fa-search left"></i></button>
				</div>
		</div>
	</form>
</div>
{% if tasks|length > 0 %}
    <ul class="collapsible">
        {% for task in tasks %}
        <li>
            <div class="collapsible-header black-text pink accent-1 darken-4 text-shadow">
            <div class="col s3">
                <i class="fas fa-caret-down"></i>
                {% if session.user | lower == task.created_by | lower %}
               <a href="{{ url_for('delete_task', task_id=task._id) }}" class="orange darken-4 btn-small">Delete task</a>
               <a href="{{ url_for('edit_task', task_id=task._id) }}" class="lime accent-3 btn-small purple-text">Edit</a>
               {% endif %}
            </div>
            <div class="col s9">
             <strong>{{ task.task_name }}</strong> : {{ task.due_date }}
                {% if task.is_urgent == "on" %}
                    <i class="fas fa-exclamation light-blue-text text-lighten-2 tooltipped" data-position="right" data-tooltip="URGENT!"> </i>
                        
                {% endif %}
            </div>
               
            </div>
            <div class="collapsible-body">
                <strong>{{ task.category_name }}</strong>
                <p>{{ task.task_description }}</p>
                <p>{{ task.task_completed }}</p>
                <p><em>{{ task.created_by }}</em></p>
            </div>
        </li>
        {% endfor %}
    </ul>
    {% else %}
    <h3 class="red-text text-darken-4 center-align">no results found</h3>
{% endif %}
{% endblock %}